.menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu__homeBtn, .menu__newItemBtn, .side__logout {
  svg > path {
    stroke: var(--color-lateral-button);
  }
}

.menu__homeBtn {
  padding: 24px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background: var(--color-lateral-button);
    border-radius: 0px 5px 5px 0px;
  }
}