.container {
  background: var(--color-bg);
  height: 100vh;
}

.aside {
  position: fixed;
  height: 100vh;
  padding: 30px 0;
  
  filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.05));

  background: var(--color-lateral);
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.side__logout {
  opacity: 0.5;

  &:hover, &:active {
    opacity: 1;
  }
}