.light {
  --bg-color: #fff;
  --text-color: red;
}

.dark {
  --bg-color: #111;
  --text-color: #fff;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
